<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        {% url 'index'  as url_index %}
        {% url 'about'  as url_about %}

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% if request.path == url_index %}
            <li><a href={% url 'index' %} class="nav-link px-2 text-secondary"  style="color:grey!important;">Home</a></li>
            {% else %}
            <li><a href={% url 'index' %} class="nav-link px-2 text-secondary"  style="color:white!important;">Home</a></li>
            {% endif %}
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            {% if request.path == url_about %}
              <li><a href={% url 'about' %} class="nav-link px-2 text-white" style="color:grey!important;">About</a></li>
            {% else %}
              <li><a href={% url 'about' %} class="nav-link px-2 text-white" style="color:white!important;">About</a></li>
            {% endif %}
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
    <span class="navbar-text">Logged as : {{user.username}} </span>
    <a href={% url logout%}?next= {{request.path}}>LogOut</a>
    {% else %}
    <p>Not logged in</p>
    {% endif %}
  </header>